<configuration debug="false">

    <jmxConfigurator />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5level [%thread] %logger{24} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CLOUDWATCH" class="com.kdgregory.logback.aws.CloudWatchAppender">
        <logGroup>AppenderExample</logGroup>
        <logStream>Logback-Example-{date}-{hostname}-{pid}</logStream>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{ISO8601} %-5level [%thread] %logger{24} - %msg%n</pattern>
        </layout>
    </appender>

	<root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="CLOUDWATCH" />
    </root>
	
</configuration>
